.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 9999;
  font-size: 12px;
}

.tooltiptext > span {
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.top {
  border-color: #555 transparent transparent transparent;
}
.left {
  border-color: transparent transparent transparent #555;
}
.right {
  border-color: transparent #555 transparent transparent;
}
.bottom {
  border-color: transparent transparent #555 transparent;
}
